@use 'colors';

.textArea {
  margin: 0px;
  padding: 0;
  flex-grow: 1;
  height: 100px;
}
.quill {
  border: 2px solid $editor_border_color;
  background-color: $editor_background_color;
  height: 100%;
}
.ql-editor {
  @include scrollbar();
}

.lintClass {
  text-decoration: underline dotted $lint_underline_color;
}


[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: $lint_background_color;
    color: $lint_text_color;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    opacity: 0;
    border: 1px solid $lint_border_color;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
