.userLi {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-left: 5px;
  position: relative;

  .userColor {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .userName {
    visibility: hidden;
    padding: 0px 5px;
    // font-size: 0.5em;
    margin-left: 5px;
    color: white;
    position: absolute;
    z-index: 999;
    // userLi height / 2
    top: 25px / 2;
    left: 40px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
.userLi:hover .userName {
  visibility: visible;
  opacity: 1;
}
