.topBar {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: $navbar_background_color;
  background: $navbar_gradient_color;
  height: 45px;
  button {
    background-color: $userlist_background_color;
    border: 1px solid $editor_border_color;
    border-radius: 5px;
    padding: 0 5px;
    color: white;
    height: 3vh;
    font-size: 15px;
  }
}
