.console {
  @include scrollbar();
  margin: 0;
  padding: 0;
  display: border-box;
  background-color: lighten($editor_background_color, 10%);
  border: 2px solid $editor_border_color;
  height: 15%;
  overflow-y: scroll;
  font-size: 12px;
  list-style: none;

}
