$editor_background_color: #23241f;
$editor_border_color: #1c1d19;

$scrollbar_track_color: #f1f1f1;
$scrollbar_thumb_color: #888;
$scrollbar_thumb_hover_color: #555;

$lint_background_color: #00FF00;
$lint_border_color: #111111;
$lint_text_color: #111;
$lint_underline_color: red;

$message_background_color: white;
$message_text_color: #888;
$message_border_color: #bbb;

$error_message_background_color: #ffe6e6;
$error_message_text_color: #ff6666;
$error_message_border_color: #ffcccc;

$iframe_border_color: gray;

$userlist_background_color: #34362d;
$user_text_color: white;
