@use 'colors';

@mixin scrollbar() {
  &::-webkit-scrollbar {
    background-color: $scrollbar_thumb_color;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $scrollbar_track_color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar_thumb_color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar_thumb_hover_color;
  }
}
